<div class="container">
    <h1>Edit Users</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nome">
        <label for="floatingInput">Nome</label>
    </div>
    
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Senha</label>
    </div>
    
    <div class="select-field">
    <select class="form-select" aria-label="Default select example">
        <option selected>Engenheiro de FE</option>
        <option value="1">Engenheiro de BE</option>
        <option value="2">Analista de dados</option>
        <option value="3">Líder Técnico</option>
     </select>
</div>

<div class="button">
    <button type="button" class="btn btn-outline-success">Salvar Alterações</button>
</div>
</div>

